.categoria{
    display: flex;
}
.categoria-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-inline: 42px;
}
.categoria-cards{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}